<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Ethereum Payment - Ecommerce Shop</title>
    <style>
		.white-box {
		    background-color: #ffffff; 
		    border-radius: 8px;      
		    max-width: 1000px;         
		    width: 100%;              
		}
		.copy-btn {
		    cursor: pointer;
		    margin-left: 10px;
		}
		.address-box {
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    background-color: #f8f9fa;
		    padding: 10px;
		    border-radius: 5px;
		    font-size: 12px;
		    word-wrap: break-word;
		    max-width: 100%;
		}
		.address-box input {
		    border: none;
		    background-color: transparent;
		    font-size: 12px;
		}
		.input-group {
		    display: flex;
		    justify-content: space-between;
		}
		.input-group input {
		    flex: 1;
		}
		.input-group button {
		    margin-left: 10px;
		}
    </style>
</head>

<body>
	<div class="container-fluid py-5" style="background-color: #f5f5f5; height: 100vh;">
	    <div class="d-flex justify-content-center align-items-center h-100">
	        <div class="white-box p-4 shadow-lg rounded d-flex flex-row">
	            <!-- Left Section -->
	            <div class="left-section pr-3" style="flex: 2; border-right: 1px solid #ddd;">
	                <h3>Ethereum Transaction</h3>
	                <p id="responseMessage" th:text="${response}" th:if="${response}" style="color: green;"></p>
	                <p id="errorMessage" th:text="${error}" th:if="${error}" style="color: red;"></p>

	                <!-- Ethereum Transaction Form -->
	                <form id="ethTransactionForm" th:action="@{/VITproject/perform-transaction}" method="post" th:object="${walletTransactionDto1}" style="margin-top: 10px">
	                    <div class="form-group">
	                        <label for="senderAddress">Sender Wallet Address</label>
	                        <input type="text" class="form-control" id="senderAddress" name="senderAddress" th:field="*{senderAddress}" placeholder="Enter your address" required />
	                    </div>
	                    <div class="form-group">
	                        <label for="senderPrivateKey">Sender Private Key</label>
	                        <input type="password" class="form-control" id="senderPrivateKey" name="senderPrivateKey" th:field="*{senderPrivateKey}" autocomplete="off" placeholder="Enter your private key" required />
	                        <small class="form-text text-muted">
	                            We don't store private keys. Your security is our priority.
	                        </small>
	                    </div>
						
						<input type="hidden" class="form-control" id="ethAmount" name="ethAmount" th:field="*{ethAmount}"/>

	                    <div class="form-group d-flex justify-content-between">
	                        <label for="amountValue">Amount Payable</label>
	                        <strong><p id="amountValue" th:text="${ethAmount} + ' ETH'"></p></strong>
	                    </div>
	                    <div class="footer mt-3">
	                        <button type="submit" class="btn btn-primary" onclick="handleClick()">Pay in ETH</button>
	                    </div>
	                </form>
	            </div>

	            <!-- Right Section -->
	            <div class="right-section pl-3" style="flex: 3;">
	                <form id="walletCreationForm" th:action="@{/VITproject/create-wallet}" method="post" style="margin-top: 50px">
	                    <h5>Create Wallet</h5>
	                    <input type="hidden" name="ethAmount" th:value="${ethAmount}">
	                    <button type="submit" form="walletCreationForm" class="btn btn-secondary btn-block mb-3">Create Wallet</button>
	                </form>
					<div class="form-group" th:if="${senderWalletAddress}">
						<small><strong><span th:text="'Sender Wallet Address: ' + ${senderWalletAddress}"></strong></span></small><br>
						<!--<input type="hidden" id="senderPrivateKey" name="senderPrivateKey" th:value="${senderPrivateKey}">-->
						<small>
							<span><strong>Sender Private Key: </strong></span>
							<span id="privateKey"><strong>••••••••••••••••••••••••••••••••••</strong></span>
							<!--style="letter-spacing: 2px;"-->
							</small><br>
							<button type="button" class="btn btn-outline-primary" id="toggleKeyButton">View</button><br>
							<small style="color: red;"><strong>Please keep your private key safe</strong></small>
					</div>

	                <form id="walletBalanceForm" th:action="@{/VITproject/check-wallet-balance}" method="post">
	                    <h5>Check Wallet Balance</h5>
	                    <div class="form-group">
							<input type="hidden" name="ethAmount" th:value="${ethAmount}">
	                        <input type="text" class="form-control mb-2" name="senderWalletAddress" placeholder="Enter your address" required />
	                        <button type="submit" form="walletBalanceForm" class="btn btn-secondary btn-block">Check Balance</button>
	                    </div>
	                </form>

					<div class="form-group" th:if="${balance}">
					    <label>
					        <span th:text="'Your Wallet Balance: '"></span>
					        <span th:style="'color: green'" th:text="${balance}"></span>
					        <span th:style="'color: green'" th:text="' ETH'"></span>
					    </label>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
<!-- Modal (pop-up)-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to leave? Your progress won't be saved</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="confirmDelete" href="#" class="btn btn-primary">Yes</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="ethPaymentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ethPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
				<h5>Please wait</h5>
            </div>
            <div class="modal-body">
                Processing Payment and Verification. Please wait...
            </div>
            <div class="modal-footer">
				<h5> </h5>
            </div>
        </div> 
    </div>
</div>
 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
	// Add the private key and onclick handler dynamically
	const senderPrivateKey = "[[${senderPrivateKey}]]" 
	const toggleKeyButton = document.getElementById("toggleKeyButton");

	toggleKeyButton.addEventListener("click", () => {
	    togglePrivateKey(senderPrivateKey);
	});
	
	let isKeyVisible = false;

	// Function to toggle private key visibility
	function togglePrivateKey(pk) {
	    const privateKeySpan = document.getElementById("privateKey");
	    const toggleButton = document.getElementById("toggleKeyButton");
		//const privateKey = pk; // Correctly select the hidden input field

	    if (isKeyVisible) {
	        // Hide private key
	        //privateKeySpan.textContent = "••••••••••••••••••••••••••••••••••";
			privateKeySpan.innerHTML = "••••••••••••••••••••••••••••••••••";
	        toggleButton.textContent = "View";
	    } else {
	        // Show private key
	        //privateKeySpan.textContent = pk;
			privateKeySpan.innerHTML = `<strong>${pk}</strong>`;
	        toggleButton.textContent = "Hide";
	    }

	    isKeyVisible = !isKeyVisible;
	}

	// Function to copy text to clipboard
	function copyToClipboard(elementId) {
	    var copyText = document.getElementById(elementId);
	    var range = document.createRange();
	    range.selectNode(copyText);
	    window.getSelection().removeAllRanges();  // Clear current selection
	    window.getSelection().addRange(range);    // Select new range
	    document.execCommand("copy");             // Copy the selected text to clipboard
	    window.getSelection().removeAllRanges();  // Deselect the text
	    alert("Copied to clipboard");
	}
    /*let showConfirmation = true; // Flag to determine whether to show modal

    window.onbeforeunload = function (event) {
        if (showConfirmation) {
            $('#cancelModal').modal('show'); // Show the modal
            return false; // Prevent the default back navigation
        }
    };

    // When user confirms leaving
    document.getElementById('confirmDelete').addEventListener('click', function () {
        showConfirmation = false; // Allow back navigation
        window.history.back(); // Go back in browser history
    });

    // Prevent modal from interfering with form submission
    document.querySelector('form').addEventListener('submit', function () {
        showConfirmation = false; // Disable confirmation when submitting the form
    });*/
	function handleClick() {
		$('#ethPaymentModal').modal('show');
	    
		setTimeout(() => {
	        // Submit the form after your logic
	        document.querySelector('form').submit();
		}, 500);
	}
</script>
</body>
</html>
