<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		  
    <title>E-Commerce Shop</title>
	<style>
	        .navbar-blue {
	            background-color: #007bff;
	        }
	        .navbar-blue .navbar-brand, .navbar-blue .nav-link {
	            color: #ffffff;
	        }
			.fixed-width-container {
			    width: 1200px;
			    margin-top: 30px;
			}
			.image {
			    border-radius: 10px;
			    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); /* Stronger shadow */
			    filter: brightness(100%);  /*Makes the image more blunt */
			    transition: transform 0.3s, filter 0.0s;
			}
			.image:hover {
			    transform: scale(1.05); /* Slight zoom effect on hover */
			    filter: brightness(100%); /* Restore brightness on hover */
			}
			.price {
			    font-weight: bold;
			}

	</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-blue">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h3 class="d-inline-block align-top">E-commerce Shop</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/VITproject/home}" href="#">home</a>
                        <a class="dropdown-item" th:href="@{/VITproject/shop}" href="#">shop</a>
                        <a class="dropdown-item" sec:authorize="isAnonymous()" th:href="@{/VITproject/login}" href="#">login</a>
                        <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/VITproject/logout}" href="#">logout</a>
                        <a class="dropdown-item" th:href="@{/VITproject/cart}" href="#">cart</a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item" th:text="${cartCount}">0</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5 d-flex justify-content-center">
            <img class="image" height="300px" width="300px" src="" th:src="@{${'/productImages/' + product.imageName}}"
                 alt="">
        </div>
        <div class="col-sm-7 mt-5">
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.category.name}"></p>
            <h2>₹ <span class="price" th:text="${product.price}"></span></h2>
            <h5>Weight:
                <span th:text="${product.weight}"></span> grams.
            </h5>
			<p>Description: 
            	<span th:text="${product.description}" style="margin-top: 20px"></span>
			</p>
            <a href="" th:href="@{/addToCart/{id}(id = ${product.id})}" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- Bootstrap-Select JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
</body>
</html>
